@import 'app.scss';

.card {
  overflow: hidden;
  border-radius: 0.6rem;
  box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.08);
  perspective: 100rem;

  &:hover {
    .title,
    .paragraph {
      transition: transform 0.7s ease-in-out;
    }

    .title {
      transform: translateZ(6rem);
    }

    .paragraph {
      transform: translateZ(3.5rem);
    }
  }
}

.image {
  top: 0;
  left: 0;
  width: 100%;
  height: 28rem;
  object-fit: cover;
  overflow: hidden;
}

.content {
  transform-style: preserve-3d;
  padding: 2rem 4rem 4rem;
}

.title {
  margin-bottom: 1rem;
}

.title,
.paragraph {
  transition: transform 0.7s ease-in-out;
}
