$color-primary: #faa916;
$color-black: #050517;
$color-white: #fff;

$grid-columns: 12;
$grid-gutter-width: 3rem;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);
